<connectionStrings>
  <add name="HeadConnection" providerName="System.Data.SqlClient" connectionString="Data Source=SONGHIEP\SQLEXPRESS;Initial Catalog=HeadAPI;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
  <add name="POS1Connection" providerName="System.Data.SqlClient" connectionString="Data Source=SONGHIEP\SQLEXPRESS;Initial Catalog=POS1API;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
  <add name="POS2Connection" providerName="System.Data.SqlClient" connectionString="Data Source=SONGHIEP\SQLEXPRESS;Initial Catalog=POS2API;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />

</connectionStrings>